/*****Reset*****/  
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

/*****Basic Elements*****/  
h1{
	font: 210% verdana, serif;
	color: #03426A;
}
h3{
	font: 160% verdana, serif;
	color: #03426A;
    text-align: center;
}
ul {
	opacity: .8;
}
ol {
}
a {
}
p {
	font: 100% calibri, sans-serif;
    color: 00B25C;
}
/*****Generic Classes*****/  
.TopNavButton{
	width: 100px;
	height: 30px;
	float: right;
	margin: 10px 20px 10px 0px;
	border-right: 2px solid black;
	background: #3E97D1;
	color: #03426A;
}
.BodyContent {
	position: absolute;
	background: #3E97D1;
	width: 200px;
	height: 200px;
}
/*****Basic Layout*****/  
#wrap{
    
}
/*****Header*****/  
#topNav{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 50px;
	background: #0A67A3;
}
#topHeader{
	display: inline;
}
#homeNav{
}
#storeNav{
}
#servicesNav{
}
#aboutNav{
}
#contactNav{
}
/*****Content*****/  
#body{
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	margin-top: 100px;
	margin-left: 300px;
	background: #F8F8F8;
}
#leftAside{
	position: absolute;
	left: 30px;
	top: 100px;
	bottom: 100px;
	width: 200px;
	background: #0A67A3;	
}
#contentContainer{
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 80%;
}
#storePost{
    top: 5%;
}
#servicesPost{
    right: 25%;
    top: 5%;
}
#aboutPost{
    top: 50%;
}
#contactPost{
    right: 25%;
    top: 50%;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	background: #0A67A3;
}
#contactInfo{
	margin: 5px 20px;
	width: 300px;
	background: #3E97D1;
	color: #03426A;
}