/*****Reset*****/  
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

/*****Basic Elements*****/  
h1{
	font: 170% verdana, serif;
	color: #444444;
}
h3{
	font: 130% Verdana, serif;
	color: #444444;
    text-align: center;
}
p{
    color: #FFBBBB;
    text-align: center;
    font: 100% arial;
}
ul {
    padding-left: 20px;
	opacity: .8;
}
ol {
}
a {
}
p {
    margin: 2px 5px;
    padding: 3px;
	font: 100% calibri, sans-serif;
    color: #00B25C;
}
/*****Generic Classes*****/  
.NavHeader{
    color: #FFFFFF;
    font-size: 15px;
}
.TopNavButton{
	width: 90px;
	height: 30px;
	float: right;
    
	margin: 5px 0px 0px 0px;
}
.BodyContent {
	position: absolute;
    top: 0;
    bottom: 0;
	background: #ebebeb;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid grey 3px;
}
.AsideNavButton {
    position: absolute;
    height: 40px;
    width: 90%;
    left: 5%;
    right: 5%;
    text-align: center;
    display: block;
    background: #BF3030;
}
.PostHeader{
    color: #FFFFFF;
    font: 130% impact, serif;
}
.Post{
    position: relative;
    max-height: 80%;
    overflow: auto;
    margin: 20px 20px;
    background:  #BF3030;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.PostParagraph {
    margin: 5px 10px;
    padding: 5px;
    background: #DFDFDF;
    opacity: .9;
	font: 100% calibri, sans-serif;
    color: #444444;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*****Basic Layout*****/  
#wrap{
    min-width: 700px;
}
/*****Header*****/  
#topNav{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 30px;
	background: #BF3030;
    min-width: 450px;
}
.Header{
	float: left;
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 0;
    font: 130% impact;
}
#navOne{
}
#navTwo{
}
#navThree{
}
#navFour{
}
#navFive{
}
/*****Content*****/  

#leftAside{
	position: absolute;
	left: 5%;
	top: 50px;
	bottom: 70px;
	width: 25%;
    min-width: 160px;
    min-height: 300px;
}
#leftNav{
    position: absolute;
    height:75%;
    top: 25%;
    width: 100%;
    background: #ebebeb;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid grey 3px;
}
#about{
    border: solid grey 3px;
    position: absolute;
    height:20%;
    top:0;
    max-height: 40%;
    overflow: auto;
    width: 100%;
    background: #ebebeb;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.MediaIcon{
    position: absolute;
    top: 25px;
}
#mediaIconOne{
    right: 0px;
}
#mediaIconTwo{
    right: 20px;
}
#mediaIconThree{
    right: 40px;
}
#bodyHeader{
    margin-left: 10px;
}
#body{
    position: absolute;
	top: 50px;
    right: 5%;
    width: 60%;
    bottom: 50px;
    min-height: 300px;
    min-width: 300px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#rightContent{
    right: 0%;
    width: 35%;
}
#leftContent{
    width: 55%;
}
#postThree{
    top: 60%;
    left: 5%;
}
#postFour{
    left: 60%;
    top: 60%;
}
#myiFrame{
    display: none;
}
/*****Nav*****/ 
#leftOne{
    top: 45px;
}
#leftTwo{
    top: 90px;
}
#leftThree{
    top: 135px;
}
#leftFour{
    top: 180px;
}
#leftFive{
    top: 225px;
}
#leftSix{
    top: 270px;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: #BF3030;
}
footer h1 {
    display: inline;
}