/*****Reset*****/  
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

/*****Basic Elements*****/  
@import url(http://fonts.googleapis.com/css?family=Ceviche+One);
h1{
	font: 170% 'Fenix', serif;
	color: #444444;
    
}
h3{
	font: 130% 'Fenix', serif;
	color: #444444;
    text-align: center;
}
h4{
    font: 100% 'Fenix', serif;
	color: #444444;
    text-align: center;
}
p{
    color: #FFBBBB;
    text-align: center;
    font: 100% arial;
}
li{
    margin-left: 40px;
    color: #FFBBBB;
    text-align: left;
    font: 100% arial;
}
a{
    text-decoration: none;
    color: #A0200E;
    font-family: 'Ceviche One', cursive;
    font-weight: bold;
    font-size: 120%;
}
a:hover{
    color: #AAAAAA;
}
a:active{
    color: #000000;
}
/*****Generic Classes*****/  
.TopNavButton{
	width: 90px;
	height: 30px;
	float: right;
	margin: 5px 0px 0px 0px;
}
.NavHeader{
    color: #FFFFFF;
    font-size: 15px;
    font-family: Verdana;
}
.BodyContent {
    box-sizing: border-box;
    min-width: 125px;
    min-height: 125px;
	position: absolute;
	background: #CF4242;
    overflow: auto;
	width: 35%;
	height: 40%;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
}
.AsideNavButton {
    display: block;
}
.BodyHeader{
    text-align: center;
    font-family: 'Fenix', serif;
}
.PostHeader{
    color: #555555;
    font-family: 'Fenix', serif;
}
/*****Basic Layout*****/  
body{
background-image:url('https://dl.dropboxusercontent.com/s/k6xatwr9a08xues/squairy_light.png');
}
#wrap{
    min-width: 400px;
}
.TopNavButton:hover{
    opacity: .5;
}
.NavHeader:active{
    color: #000000;
}
.BodyLink:hover{
    opacity: .5;
}
/*****Header*****/  
#topNav{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 30px;
	background: #BF3030;
    min-width: 550px;
}
.Header{
	float: left;
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 0;
    font: 130% impact;
}
/*****Content*****/  
#body{
    position: absolute;
	top: 70px;
    right: 20px;
	left: 20px;
    bottom: 50px;
    min-height: 360px;
    min-width: 350px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#contentContainer{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 5%;
    overflow: auto;
}
#postOne{
    top: 5%;
    left: 20%;
}
#postTwo{
    left: 60%;
    top: 5%;
}
#postThree{
    top: 50%;
    left: 20%;
}
#postFour{
    left: 60%;
    top: 50%;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: #BF3030;
}
#contactInfo{
	margin: 5px 20px;
	width: 300px;
	background: #BF3030;
	color: #FFFFFF;
}