/*****Reset*****/  
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,  
pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

/*****Basic Elements*****/  
@import url(http://fonts.googleapis.com/css?family=Ceviche+One);
h1{
	font: 170% 'Fenix', serif;
	color: #444444;
    
}
h3{
	font: 130% 'Fenix', serif;
	color: #444444;
}
h4{
    font: 100% 'Fenix', serif;
	color: #444444;
}
p{
    color: #DD9999;
    text-align: center;
    font: 100% arial;
}
li{
    margin-left: 40px;
    color: #DD9999;
    text-align: left;
    font: 100% arial;
}
a{
    text-decoration: none;
    color: #A0200E;
    font-family: 'Ceviche One', cursive;
    font-weight: bold;
    font-size: 120%;
}

/*****Generic Classes*****/  
.TopNavButton{
	width: 90px;
	height: 30px;
	float: right;
	margin: 5px 0px 0px 0px;
}

.NavHeader{
    color: #FFFFFF;
    font-size: 15px;
    font-family: Verdana;
    text-align: center;
}
.BodyContent {
    box-sizing: border-box;
    min-width: 125px;
    min-height: 125px;
	position: absolute;
	background: #CF4242;
    overflow: auto;
	width: 35%;
	height: 40%;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
}
.BodyContent p{
	font-size: 130%;
}
.AsideNavButton {
    display: block;
}
.BodyHeader{
    text-align: center;
    font-family: 'Fenix', serif;
}
.PostHeader{
    color: #555555;
    font-family: 'Fenix', serif;
}

/*****Basic Layout*****/  
body{
background-image:url('https://dl.dropboxusercontent.com/s/k6xatwr9a08xues/squairy_light.png');
}
#wrap{
    min-width: 400px;
}
.TopNavButton:hover{
    opacity: .5;
}
.NavHeader:active{
    color: #000000;
}
.BodyLink:hover{
    opacity: .5;
}
/*****Header*****/  
#topNav{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 30px;
	background: #BF3030;
    min-width: 750px;
}
.Header{
	float: left;
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 0;
    font: 130% impact;
}
.Login{
	float: right;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
	font-family: 'Fenix', serif;
}
.Login a{
	position: static;
	color: #555;
	font-size: medium;
}
.Login button, #logoutButton{
	
	position: static;
	margin-right: 10px;
	margin-left: 10px;
	color: #555;
	border-radius: 3px;
	font-family: 'Fenix', serif;
	border: none;
}
#loginForm{
	float: right;
	color: white;
}
#quizzes{
	position: absolute;
	padding: 5px;
	left: 5%;
	right: 5%;
	top: 70px; 
	background: transparent; 
	text-align: center;
	min-width: 550px;
	border: 2px solid gray;
}
.hidden{
	display: none;
}
/*****Content*****/  
#container{
	position: absolute;
	height: 500px;
	width: 100%;
	min-width: 1000px;
	top: 20px;
}
#body{
    position: absolute;
	top: 50px;
    right: 20px;
	left: 20px;
    bottom: 50px;
    min-height: 380px;
    min-width: 480px;
	font-size: medium;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#contentContainer{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 5%;
    overflow: auto;
}
#postOne{
    top: 5%;
    left: 20%;
}
#postTwo{
    left: 60%;
    top: 5%;
}
#postThree{
    top: 50%;
    left: 20%;
}
#postFour{
    left: 60%;
    top: 50%;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	min-width: 650px;
	background: #BF3030;
}
#contactInfo{
	margin: 5px 20px;
	width: 300px;
	background: #BF3030;
	color: #FFFFFF;
}

#leftAside{
	position: absolute;
	left: 5%;
	top: 70px;
	bottom: 100px;
	width: 20%;
    min-width: 100px;
    min-height: 300px;
	background: #DDDDDD;	
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;
    padding: 5px;
}
#leftAside li{
    color: #222222;
    font-size: 80%;
    margin-left: 10px; 
    list-style: none;
}
.Tutorial li, .Tutorial p{
	font-size: medium;
	color: #222222;
}
a:hover{
    color: #AAAAAA;
}
a:active{
    color: #000000;
}
#bodyPost{
	left: 10%;
	right: 10%;
	top: 4%;
	width: 80%;
	height: 80%;
	min-width: 500px;
}
#bodyHeader{
	min-width: 600px;
	text-align: center;
	font-size: 250%;
}
#activeHeader{
	color: black;
	font-weight: bold;
}
.Members{
	background: #CCCCCC;
	margin: 5px 0px;
	display: inline-block;
	padding: 4px;
	border-radius: 5px;
}
.buttons{
	position: static;
	margin-right: 10px;
	margin-left: 10px;
	color: #555;
	border-radius: 3px;
	font-family: 'Fenix', serif;
	border: none;
}
#updated{
	font-family: 'Fenix', serif;
	margin-top: 5px;
	margin-right: 10px;
	float: right;
	color: white;
}