/*****Generic Classes*****/  
/* http://jamiewilson.io/norwester/ */
/* http://subtlepatterns.com/squairy/ */
/* http://subtlepatterns.com/graphy/ */
.TopNavButton{
	width: 90px;
	height: 30px;
	float: right;
	margin: 5px 0px 0px 0px;
}
.NavHeader{
    color: #FFFFFF;
    font-size: 15px;
}
.BodyContent {
    min-width: 125px;
    min-height: 125px;
	position: absolute;
	background: #CF4242;
    overflow: auto;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 100%;
    bottom: 5%;
}
.AsideNavButton {
    display: block;
}
.PostHeader{
    color: #555555;
}
/*****Basic Layout*****/  
body{
background-image:url('https://dl.dropboxusercontent.com/s/k6xatwr9a08xues/squairy_light.png');
}
/*****Header*****/  
.Header{
	float: left;
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 0;
    font: 130% impact;
}
/*****Content*****/  
#body{
    position: absolute;
	top: 70px;
    right: 20px;
	left: 20px;
    bottom: 50px;
    min-height: 360px;
    min-width: 350px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #DDDDDD;
}
#postOne{
    top: 5%;
    left: 35%;
    right: 5%;
    bottom: 0%;
    width: 60%;
    height: 90%;
    padding: 5px;
    overflow: auto;
}
#postOne ul{
    text-align: center;
    list-style-position: inside;
}
#leftAside{
	position: absolute;
	left: 5%;
	top: 5%;
	bottom: 0%;
	width: 20%;
    height:90%;
    min-width: 100px;
    min-height: 300px;
	background: #CF4242;	
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;
}
#leftAside li{
    color: #222222;
    font-size: 80%;
    margin-left: 10px; 
    list-style: none;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: #BF3030;
}
#contactInfo{
	margin: 5px 20px;
	width: 300px;
	background: #BF3030;
	color: #FFFFFF;
}