li{
    margin-left: 40px;
    color: #FFBBBB;
    text-align: left;
    font: 100% arial;
}
/*****Generic Classes*****/  
/* http://jamiewilson.io/norwester/ */
/* http://subtlepatterns.com/squairy/ */
/* http://subtlepatterns.com/graphy/ */
.TopNavButton{
	width: 90px;
	height: 30px;
	float: right;
	margin: 5px 0px 0px 0px;
}
.NavHeader{
    color: #FFFFFF;
    font-size: 15px;
}
.BodyContent {
    min-width: 125px;
    min-height: 125px;
    max-width: 550px;
    max-height: 250px;
	position: absolute;
	background: #CF4242;
    overflow: auto;
	width: 35%;
	height: 40%;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.AsideNavButton {
    display: block;
}
.BodyHeader{
    text-align: center;
}
.PostHeader{
    color: #555555;
}
/*****Basic Layout*****/  
body{
background-image:url('https://dl.dropboxusercontent.com/s/k6xatwr9a08xues/squairy_light.png');
}
/*****Header*****/  
.Header{
	float: left;
    color: #FFFFFF;
    position: absolute;
    top:0;
    left: 0;
    font: 130% impact;
}
/*****Content*****/  
.BodyContent {
    min-width: 125px;
    min-height: 125px;
    max-width: 550px;
    max-height: 250px;
	position: absolute;
	background: #CF4242;
    overflow: auto;
	width: 35%;
	height: 40%;
    text-align: center;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.AsideNavButton {
    display: block;
}
/*****Basic Layout*****/  

/*****Content*****/  
#container{
	position: absolute;
	height: 1000px;
	width: 100%;
	min-width: 1000px;
	top: 20px;
}
#body{
    position: absolute;
	top: 40px;
    right: 5%;
	left: 40%;
    bottom: 100px;
    padding: 5px;
	background: #DDDDDD;
    min-height: 390px;
	height: 60%;
    min-width: 550px;
	width: 55%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#leftAside{
	position: absolute;
	left: 5%;
	top: 40px;
	bottom: 100px;
	width: 30%;
    min-height: 390px;
	height: 60%;
    min-width: 200px;
	background: #DDDDDD;	
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: auto;
    padding: 10px;
}
#leftAside li{
    color: #222222;
    font-size: 80%;
    margin-left: 10px; 
    list-style: none;
}
#contentContainer{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 5%;
}
#postOne{
    top: 5%;
    left: 5%;
}
#postTwo{
    left: 60%;
    top: 5%;
}
#postThree{
    top: 55%;
    left: 5%;
}
#postFour{
    left: 60%;
    top: 55%;
}
/*****Footer*****/  
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	background: #BF3030;
}
#contactInfo{
	margin: 5px 20px;
	width: 300px;
	background: #BF3030;
	color: #FFFFFF;
}